.my-footer{
    background-color: rgb(32, 32, 32);
    color: white;
    padding-top: 10px;
}

.my-footer > p{
    font-size: smaller;
}

.room-image{
    width: 50%;
}

/* override alert message styles here */
.notie-container {
    box-shadow: none;
}

.datepicker-picker{
    z-index: 10000;
}

.datepicker-dropdown{
    z-index: 10000;
}