{{template "base" .}}


{{define "content"}}

<div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">This is a Contact page</h1>
                <p class="text-center">Your home away from home, set on majestic waters of the Atlantic Ocean, this can be vacation to be remembered.</p>
                <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit repellendus consequatur voluptate facilis molestiae repellat cumque aliquid iste quod, in reprehenderit culpa voluptatem tempora, corrupti autem ipsam beatae quos suscipit! Nam enim repellat, libero magnam quasi, mollitia alias voluptatibus voluptates itaque earum beatae consequatur non id ut tempore, eveniet laborum possimus ad recusandae? Hic optio ratione accusamus voluptatibus eligendi, fuga amet eum, cum eveniet porro quisquam esse quod vero quia nulla! Laudantium, ipsam. Totam quia quis perspiciatis, fugiat modi libero. Molestiae, quam modi eaque laboriosam sequi amet ducimus aliquam debitis sapiente dolorem repellat quas, possimus, dolore magnam distinctio sint repudiandae?</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <a href="#" class="btn btn-success">Know more</a>
            </div>
        </div>
    </div>

{{end}}